@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background: linear-gradient(
    90deg,
    rgb(255, 16, 235) 0%,
    rgb(48, 56, 119) 100%
  );
}
.todo-app {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.container-todo {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  height: 100%;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: 400;
  list-style: none;
  padding: 10px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border: 2px solid #7935dc;
  outline: none;
  border-radius: 10px;
  background: transparent;
  width: 70%;
  color: #fff;
}

.list-container {
  display: flex;
  flex-direction: column;
}
div .todo-row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  margin: 4px auto;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 5px;
  list-style: none;
}

.todo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px auto;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 5px;
  list-style: none;
}

.todo-text {
  display: flex;
  padding-left: 10px;
  align-items: center;
  flex-grow: 1;
}

.btn-outline-light {
  display: flex;
  align-items: flex-end;
  color: white;
  border-color: #7935dc;
}

.btn-outline-light:hover {
  color: white;
  border-color: #7935dc;
  background-color: #7935dc;
}

.btn-outline-light:not(:disabled):not(.disabled).active {
  background-color: #7935dc;
  border-color: #7935dc;
}

.btn-outline-light:focus {
  box-shadow: #7935dc;
}

.active:target {
  background-color: violet !important;
}

.remove {
  font-size: 100%;
  font-family: inherit;
  border-radius: 6px;
  padding: 4px;
  color: inherit;
  background-color: #df42d1;
  margin-left: 3px;
}

.remove .trashIcon {
  color: white;
}
.todo-text {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.list-row {
  margin-top: 5px;
}

.todo-form {
  margin-bottom: 22px;
}
.no-todos {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 1px 1px violet;
  list-style: none;
  padding: 10px;
}

.remove-all.btn.btn-outline {
  color: #df42d1;
  background-color: #161a2b;
  border-color: #df42d1;
  background: #161a2b;
}
